/*make background imge respnonsive*/
.back-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    border-radius: 0px;
}

/* barnd */
.navbar-brand {
    font-family: 'ubuntu', sans-serif;


}

/* chnage navvigation color  */
#n li a {
    color: #fff;
}

#n li a:hover {
    color: #F0AAB1;
}

#nav-text {
    color: white;
}

/*font-family: 'Ubuntu',
sans-serif;*/
